<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.mlvb.livepk">

    <application android:theme="@style/AppTheme">

        <activity
            android:name="com.tencent.mlvb.linkpk.LivePKEnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.tencent.mlvb.linkpk.LivePKAnchorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.tencent.mlvb.linkpk.LivePKAudienceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>