Android/XiaoZhiBo/.idea
Android/XiaoZhiBo/.gradle
Android/XiaoZhiBo/app/build/

.gradle
.idea
Android/Demo/.gradle
Android/Demo/.idea
Android/Demo/app/build
Android/Demo/lib_tccommon/build


.DS_Store
.vscode
.project
.settings
xcuserdata
*.iml
