<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>privacyURL</key>
	<string>https://web.sdk.qcloud.com/document/Tencent-MLVB-Privacy-Protection-Guidelines.html</string>
	<key>userProtocolURL</key>
	<string>https://web.sdk.qcloud.com/document/Tencent-MLVB-User-Agreement.html</string>
	<key>version</key>
	<string>0</string>
	<key>dataCollection</key>
	<array>
		<dict>
			<key>type</key>
			<string>avatar</string>
			<key>desc</key>
			<string>用于完成注册及使用直播功能</string>
		</dict>
		<dict>
			<key>type</key>
			<string>name</string>
			<key>desc</key>
			<string>用于完成注册及使用直播功能</string>
		</dict>
		<dict>
			<key>type</key>
			<string>phone</string>
			<key>desc</key>
			<string>用于完成注册、登陆</string>
		</dict>
		<dict>
			<key>type</key>
			<string>email</string>
			<key>desc</key>
			<string>用于完成注册、登陆</string>
		</dict>
	</array>
	<key>thirdShare</key>
	<array>
		<dict>
			<key>name</key>
			<string>腾讯云音视频体验服务</string>
			<key>company</key>
			<string>腾讯云计算（北京）有限公司</string>
			<key>info</key>
			<string>邮箱账号</string>
			<key>purpose</key>
			<string>注册、登陆使用腾讯云音视频体验服务</string>
			<key>method</key>
			<string>用户主动填写</string>
			<key>scene</key>
			<string>Tab-发现页</string>
			<key>privacy</key>
			<string>https://comm.qq.com/trtc-app-finding-page/#/</string>
		</dict>
	</array>
	<key>personalAuth</key>
	<dict>
		<key>info</key>
		<array>
			<string>avatar</string>
			<string>name</string>
			<string>id</string>
			<string>phone</string>
			<string>email</string>
		</array>
		<key>auth</key>
		<array>
			<string>camera</string>
			<string>microphone</string>
			<string>photos</string>
		</array>
	</dict>
</dict>
</plist>
