<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.xiaozhibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- IMSDK 权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--<uses-permission android:name="android.permission.SET_DEBUG_APP" />-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:name=".TCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".main.splash.TCSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".login.TCLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".login.TCRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RegisterTheme" />
        <activity
            android:name=".main.TCMainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".anchor.prepare.TCAnchorPrepareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".audience.TCAudienceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".playback.TCPlaybackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".anchor.TCCameraAnchorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".anchor.screen.TCScreenAnchorActivity"
            android:theme="@style/RecordActivityTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".anchor.screen.TCScreenRecordService"
            android:enabled="true"
            android:exported="false">

        </service>
        <activity
            android:name=".profile.TCEditUseInfoActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity" android:theme="@android:style/Theme.Translucent" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tencent.qcloud.xiaozhibo.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />


        <service
            android:name="com.tencent.imsdk.session.remote.SessionService"
            android:process=":network" />
        <service
            android:name="com.tencent.imsdk.session.remote.AssistService"
            android:process=":network" />
        <service
            android:name="com.tencent.imsdk.session.remote.KeepAliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":network" />

        <receiver android:name="com.tencent.imsdk.session.SessionBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.tencent.imsdk.session.boot" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.tencent.qcloud.qal.TASK_REMOVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
