<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.xiaozhibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- IMSDK 权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--<uses-permission android:name="android.permission.SET_DEBUG_APP" />-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:name=".TCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".mainui.TCSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!-- 系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"
            android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".login.TCLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".login.TCRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/RegisterTheme" />
        <activity
            android:name=".mainui.TCMainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".push.TCPublishSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".play.TCLivePlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".play.TCVodPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".push.camera.TCLivePublisherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".userinfo.TCEditUseInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videopublish.TCVideoPublisherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".push.screen.TCScreenRecordActivity"
            android:theme="@style/RecordActivityTheme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity" android:theme="@android:style/Theme.Translucent" />

        <!-- share sdk umeng begin -->
        <!-- Share edit page-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>

        <!-- wechat callback-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101360044" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".common.activity.videochoose.TCVideoChooseActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tencent.qcloud.xiaozhibo.single"/>
                <action android:name="com.tencent.qcloud.xiaozhibo.multi"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tencent.qcloud.xiaozhibo.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />

        <!-- share sdk umeng end -->

        <!-- umengAppKey，replace to yours -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57fc8dc1e0f55a88800026ce" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>

        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
            />

        <service
            android:name=".push.screen.TCScreenRecordService"
            android:enabled="true"
            android:exported="false">

        </service>

        <service
            android:name="com.tencent.imsdk.session.remote.SessionService"
            android:process=":network" />
        <service
            android:name="com.tencent.imsdk.session.remote.AssistService"
            android:process=":network" />
        <service
            android:name="com.tencent.imsdk.session.remote.KeepAliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":network" />

        <receiver android:name="com.tencent.imsdk.session.SessionBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.tencent.imsdk.session.boot" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.tencent.qcloud.qal.TASK_REMOVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
