<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.v2">

    <application android:theme="@style/AppTheme">

        <activity
            android:name="com.example.v2.V2MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>